<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPrzepisProduktLabel"
            translate="kucharzApp.przepisPartProdukt.home.createOrEditLabel">
            Create or edit a PrzepisProdukt</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="przepisPartProdukt.id" readonly>
        </div>
        <div class="form-group">
            <label translate="kucharzApp.przepisPartProdukt.quantity" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                   ng-model="przepisPartProdukt.quantity"
                >
        </div>

        <div class="form-group">
            <label translate="kucharzApp.przepisPartProdukt.produkt" for="field_produkt">produkt</label>
            <select class="form-control" id="field_produkt" name="produkt" ng-model="przepisPartProdukt.produkt"
                    ng-options="produkt as produkt.id for produkt in produkts track by produkt.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="kucharzApp.przepisPartProdukt.przepis" for="field_przepis">przepis</label>
            <select class="form-control" id="field_przepis" name="przepis" ng-model="przepisPartProdukt.przepis"
                    ng-options="przepis as przepis.id for przepis in przepiss track by przepis.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
