<!--  <nav class="navbar navbar-default" role="navigation">
<div class="container" ng-switch="isAuthenticated()">
       <div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="isAuthenticated()"> -->
<ul class="nav nav-pills nav-stacked">
    <li ui-sref-active="active">
        <a ui-sref="home" data-toggle="collapse" data-target=".navbar-collapse.in">
            <span class="glyphicon glyphicon-home"></span>
            <span class="hidden-sm" translate="global.menu.home">Home</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="przepis" data-toggle="collapse" data-target=".navbar-collapse.in">
            <span class="glyphicon glyphicon-asterisk"></span>
            &#xA0;
                		<span translate="global.menu.entities.przepis">
                			przepis
                		</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="produkt" data-toggle="collapse" data-target=".navbar-collapse.in">
            <span class="glyphicon glyphicon-asterisk"></span>
            &#xA0;
						<span translate="global.menu.entities.produkt">
							produkt
						</span>
        </a>
    </li>
</ul>
<!--  </div>
</div>
</nav> -->
